
* {
    box-sizing: border-box;
}

.columns {
    float: left;
    width: 95%;
    padding: 8px;
}

.family {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.family:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.family .header {
    background-color: SteelBlue;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 14px;
}

.family li {
    border-bottom: 1px solid #eee;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    color: black;
}

.family .grandtotal {
    background-color: black;
    font-size: 12px;
    color: Gainsboro;
    padding: 5px;
    border-top: solid;
    border-width: 1px;
}

.family .calculatedtotal {
    width: 50px;
    text-align: center;
    font-size: 12px;
}

.button {
    background-color: DarkGreen;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

</style>
<style>
.switch {
  position: relative;
  display: inline-block;
  width: 260px;
  height: 34px;

}

.switch input { display:none;}

.slider {
  padding: 5px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 250px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(126px);
}


